body{
    margin:0;
    padding:0;
    background:black;

    width:100vw;
    height:100vh;

    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    position:relative;

    width:100vw;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;
}

.menu-image{
    width:100%;
    height:100%;

    object-fit:contain;

    display:block;
}

/* نور متحرک */

.spotlight{
    position:absolute;

    width:180px;
    height:45px;

    border-radius:30px;

    background:
    radial-gradient(
        rgba(255,215,120,0.35),
        rgba(255,180,80,0.12),
        rgba(255,180,80,0)
    );

    box-shadow:
    0 0 25px rgba(255,190,120,0.28);

    transition:
    top 1.8s ease,
    left 1.8s ease;

    pointer-events:none;

    mix-blend-mode:screen;
}

/* متن پایین */

.recommend-text{
    position:absolute;

    bottom:12%;

    left:72%;

    transform:translateX(-50%);

    font-size:22px;

    letter-spacing:4px;

    color:white;

    padding:14px 34px;

    border-radius:40px;

    background:
    rgba(255,255,255,0.18);

    backdrop-filter:blur(10px);

    border:
    1px solid rgba(255,255,255,0.25);

    box-shadow:
    0 0 25px rgba(255,255,255,0.15);

    font-weight:bold;

    text-transform:uppercase;
}

/* متن طلایی بالا */

.top-message{
    position:absolute;

    top:7%;

    left:8%;

    font-size:28px;

    letter-spacing:5px;

    color:#f2d08a;

    text-shadow:
    0 0 12px rgba(255,215,120,0.55);

    animation:
    glowText 4s ease-in-out infinite;
}

@keyframes glowText{

    0%{
        opacity:0.4;
    }

    50%{
        opacity:1;
    }

    100%{
        opacity:0.4;
    }
}

/* دود قوی */

.smoke{
    position:absolute;

    width:140px;
    height:140px;

    background:
    radial-gradient(
        rgba(255,255,255,0.30),
        rgba(255,255,255,0.08),
        transparent
    );

    filter:blur(22px);

    animation:
    smokeMove 5s ease-in-out infinite;

    pointer-events:none;
}

.smoke.left{
    bottom:18%;
    left:29%;
}

.smoke.right{
    bottom:18%;
    right:17%;
}

@keyframes smokeMove{

    0%{
        transform:
        translateY(0px)
        scale(1);

        opacity:0.2;
    }

    50%{
        transform:
        translateY(-30px)
        scale(1.2);

        opacity:0.7;
    }

    100%{
        transform:
        translateY(-60px)
        scale(1.4);

        opacity:0;
    }
}
